<div id="wrapper">
  <%= render 'layouts/leftBar' %>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <%= render 'layouts/topBar' %>

      <body class="bg-gradient-primary">
      <div class="containter justify-content-center">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-8">
            <%= form_for @question,  method: :post, local: true do |f| %>
              <div class="row justify-content-center ">
                <div class="col-lg-7 ">
                  <div class="p-5">
                    <div class="text-center ">
                      <h1 class="h4 text-gray-900 mb-4">Create a new Question!</h1>
                    </div>
                    <div class="form-group">
                      <%= f.label :text %><br />
                      <%= f.text_field :text, autofocus: true, class:"form-control", autocomplete: "text" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :question_type %><br />
                      <%= f.select :question_type, options_for_select(["single_choice", "multiple_choice", "free_answear", "true_false"]), {}, {class:"form-control"}%>
                    </div>

                    <div style="display: none;">
                      <%= f.text_field :assignment_id, value: @assignment.id %>
                    </div>

                    <div class="form-group">
                      <%= f.label :points %><br />
                      <%= f.text_field :points, autofocus: true, class:"form-control", autocomplete:"points" %>
                    </div>


                    <div class="actions">
                      <%= f.submit "Create Question" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      </body>
    </div>
  </div>
</div>

