<div id="wrapper">
  <%= render 'layouts/leftBar' %>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%= render 'layouts/topBar' %>

      <%if current_user.role !='admin' %>
        <h1>You are not allowed here, go back</h1>
        <a class="btn btn-primary" <%= link_to "Back", root_path%></a>
      <%else %>

        <body class="bg-gradient-primary">
        <div class="containter justify-content-center">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-8">

              <%= form_for @user, url: users_admin_index_path(@user), method: :post, local: true do |f| %>
                <div class="row justify-content-center ">
                  <div class="col-lg-7 ">
                    <div class="p-5">
                      <div class="text-center ">
                        <h1 class="h4 text-gray-900 mb-4">Register a new User!</h1>
                      </div>
                  <div class="form-group">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true, class:"form-control", autocomplete: "name", placeholder:"Name" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true,  class:"form-control", autocomplete: "name",  placeholder:"Email" %>
                  </div>

                <div style="display: none;">
                  <%= f.text_field :domain, value: current_user.domain %>
                </div>

                <div style="display: none;">
                  <%= f.text_field :school_id, value: current_user.id %>
                </div>

                  <div class="form-group">
                  <%= f.label :role %><br />
                  <%= f.text_field :role, autofocus: true, class:"form-control", autocomplete: "role" %>
                </div>

                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password,  class:"form-control", autocomplete: "new-password" , placeholder:"Password" %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password",  placeholder:"Password confirmation" %>
                    </div>
                  </div>

                    <div class="actions">
                      <%= f.submit "Register User", class:"btn btn-success btn-icon-split" %>
                    </div>

                    </div>
                  </div>
                </div>
              <% end %>
              <%end %>
            </div>
          </div>
        </div>
      </body>
    </div>
  </div>
</div>
