<div class="container-fluid">
  <ul class="list-group">
    <div class="row justify-content-center ">
      <div class="col-lg-7 ">
        <div class="p-5">
          <div class="text-center ">
            <h1 class="h4 text-gray-900 mb-4">Resources</h1>
          </div>

          <% @resource.each do |attachment| %>
            <% if attachment.file.attached? %>
              <% if attachment.file.image? %>
                <li class="list-group-item">
                  <%= image_tag attachment.file, width: "200px" %>
                </li>
              <% elsif attachment.file.audio? %>
                <li class="list-group-item">
                  <audio controls>
                    <source src="<%= rails_blob_url(attachment.file) %>" type="<%= attachment.file.content_type %>"/>
                  </audio>
                </li>
              <%elsif attachment.file.video?%>
                <li class="list-group-item">
                  <video controls width="480">
                    <source src="<%= rails_blob_url(attachment.file) %>" type="<%= attachment.file.content_type %>"/>
                  </video>
                </li>
              <% else %>
                <li class="list-group-item">
                  <%= link_to attachment.file.filename, rails_blob_path(attachment.file, dispotion: "attachement") %>

                  <% if attachment.file.content_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' or attachment.file.content_type == 'application/vnd.oasis.opendocument.text' %>
                    <div class="text-center">
                      <%= link_to  "Show Document", resource_show_resource_docx_path(attachment.id), method: :get, class: "btn btn-info rounded-3" %>
                    </div>
                    <br>
                  <% end %>

                  <% if attachment.file.content_type == 'application/pdf' %>
                    <button id="pdf-toggle">Show PDF</button>
                  <% end %>
                  <div class="pdf-container" style="display: none;">
                    <embed id="pdf-viewer" value="<%= rails_blob_path(attachment.file) %>" src="<%= rails_blob_path(attachment.file) %>" type="application/pdf" style="height: 800px; width: 100%;display: flex;
                      flex-direction: column;
                      background-color: #fff;
                      background-clip: padding-box;
                      position: absolute;
                      left: 50%;
                      transform: translate(-50%);
                      border: 1px solid rgba(0, 0, 0, 0.2);"/>
                  </div>
                </li>
                <script>
                    const pdfToggleBtn = document.querySelector('#pdf-toggle');
                    const pdfContainer = document.querySelector('.pdf-container');

                    pdfToggleBtn.addEventListener('click', function() {
                        if (pdfContainer.style.display === 'none') {
                            pdfContainer.style.display = 'block';
                        } else {
                            pdfContainer.style.display = 'none';
                        }
                    });
                </script>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </ul>
  <div class="container">
    <div class="text-center my-4">
      <%= will_paginate @resource, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>
</div>
<br/>