<div id="wrapper">
  <% if current_user.role == "admin" or current_user.role== "teacher" %>
    <%= render 'layouts/leftBar' %>
  <%else %>
    <%= render 'layouts/leftBarStud' %>
  <%end %>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <%= render 'layouts/topBar' %>

      <ul class="list-group">
        <div class="row justify-content-center ">
          <div class="col-lg-7 ">
            <div class="p-5">
              <div class="text-center ">
                <h1 class="h4 text-gray-900 mb-4">Resources</h1>
              </div>

              <% @resource.each do |attachment| %>
                <% if attachment.file.attached? %>
                  <% if attachment.file.image? %>
                    <li class="list-group-item">
                      <%= image_tag attachment.file, width: "200px" %>
                    </li>
                  <% elsif attachment.file.audio? %>
                    <li class="list-group-item">
                      <audio controls>
                        <source src="<%= rails_blob_url(attachment.file) %>" type="<%= attachment.file.content_type %>"/>
                      </audio>
                    </li>
                  <%elsif attachment.file.video?%>
                    <li class="list-group-item">
                      <video controls width="480">
                        <source src="<%= rails_blob_url(attachment.file) %>" type="<%= attachment.file.content_type %>"/>
                      </video>
                    </li>
                  <% else %>
                    <li class="list-group-item">
                      <%= link_to attachment.file.filename, rails_blob_path(attachment.file, dispotion: "attachement") %>
                    </li>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </ul>
      <div class="container">
        <div class="text-center my-4">
          <%= will_paginate @resource, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
      </div>

      <br/>

    </div>
  </div>
</div>
