<div id="wrapper">
  <%= render 'layouts/leftBar' %>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <%= render 'layouts/topBar' %>
      <div class="row justify-content-center ">
        <div class="col-lg-7 ">
          <div class="p-5">
            <% if @assignment.countdown %>
              <h1>Counter</h1>
              <!-- Display the countdown timer in an element -->
              <p id="demo"></p>
              <script>
                  // Set the date we're counting down to
                  var countDownDate = new Date("<%= @assignment.countdown %>").getTime();
                  // Update the count down every 1 second
                  var x = setInterval(function() {
// Get todays date and time
                      var now = new Date().getTime();

                      // Find the distance between now and the count down date
                      var distance = countDownDate - now;

                      // Time calculations for days, hours, minutes and seconds
                      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                      // Output the result in an element with id="demo"
                      if (days > 0) {
                          document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                              + minutes + "m " + seconds + "s ";
                      }
                      else {
                          document.getElementById("demo").innerHTML = hours + "h "
                              + minutes + "m " + seconds + "s ";
                      }

                      // If the count down is over, write some text
                      if (distance < 0) {
                          clearInterval(x);
                          document.getElementById("demo").innerHTML = "<%= FInished %>";
                      }
                  }, 1000);
              </script>
            <%end %>
            <% if @assignment.category == "quiz" %>
              <div class="card-body">
                <% @question.each do |question| %>
                  <div class="card-header">
                    <h1><%= question.text %></h1>
                  </div>
                  <% question.user_answears.each do |user_answear| %>
                    <p>
                      <% if @answear.user_id == user_answear.user_id %>
                        <% if question.question_type == "free_answear" %>
                          <%= user_answear.body%>
                        <%else %>
                          <% if user_answear.option.is_correct == true %>
                            <a href="#" class="btn btn-success btn-circle btn-sm">
                              <i class="fas fa-check"></i>
                            </a><%= user_answear.option.text %>
                            <%else %>
                            <a href="#" class="btn btn-danger btn-circle btn-sm">
                              <i class="fas fa-exclamation-triangle"></i>
                            </a><%= user_answear.option.text %>
                            <%end %>
                        <%end %>
                      <%end %>

                    </p>
                  <%end %>

                  <%end %>

              </div>
            <% elsif @assignment.category == "essay"  %>
              <div class="card-body">
                <p>
                  <%= @answear.content %>
                </p>
              </div>
            <% elsif @assignment.category == "code"  %>
              <div class="card-body">
                <p>
                  <%= @answear.content %>
                </p>
              </div>
            <%else %>
                  <br><br><br>
                  <% if @answear.file.attached? %>
                    <% if @answear.file.image? %>
                      <li class="list-group-item">
                        <%= image_tag @answear.file, width: "200px" %>
                      </li>
                    <% elsif @answear.file.audio? %>
                      <li class="list-group-item">
                        <audio controls>
                          <source src="<%= rails_blob_url(@answear.file) %>" type="<%= @answear.file.content_type %>"/>
                        </audio>
                      </li>
                    <%elsif @answear.file.video?%>
                      <li class="list-group-item">
                        <video controls width="480">
                          <source src="<%= rails_blob_url(@answear.file) %>" type="<%= @answear.file.content_type %>"/>
                        </video>
                      </li>
                    <% else %>
                      <li class="list-group-item">
                        <%= link_to @answear.file.filename, rails_blob_path(@answear.file, dispotion: "attachement") %>
                      </li>
                    <% end %>
                  <% end %>

              <br/>
              <%end %>
            <% if current_user.role == 'admin' || current_user.role =='teacher' %>
              <div class="container">
                <%= form_for @answear,  method: :patch, local: true do |f| %>

                  <div class="field form-group">
                    <%= f.number_field :grade, autofocus: true, autocomplete: "grade", placeholder:"Grade" %>
                  </div>


                  <div style="display: none;">
                    <%= f.text_field :teacher_id, value: current_user.id %>
                  </div>

                  <div class="text-center">
                    <div class="actions">
                      <%= f.submit 'Save grade', class: "btn btn-primary", data: {turbo: false} %>
                    </div>
                  </div>
                  <%end %>
              </div>
            <%end %>
            <%= link_to "Back", :back, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>