<div id="wrapper">
  <%= render 'layouts/leftBarStud' %>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <%= render 'layouts/topBar' %>

      <% @child_courses.each_slice(3) do |index| %>
        <div class="container" style="max-width: 1440px">
          <div class="card-deck" >

            <% unless index[0].nil? %>
              <div class="card" style="max-width: 448px; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <img class="card-img-top" src="/assets/course_card.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title "><%= link_to index[0].name, index[0] %> </h3>
                  <p class="card-text"><%= index[0].description.truncate(100) %></p>
                </div>
              </div>

            <% end %>

            <% unless index[1].nil? %>
              <div class="card" style="max-width: 448px; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <img class="card-img-top" src="/assets/course_card.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title "><%= link_to index[1].name, index[1] %> </h3>
                  <p class="card-text"><%= index[1].description.truncate(100) %></p>
                </div>
              </div>

            <% end %>

            <% unless index[2].nil? %>
              <div class="card" style="max-width: 448px; border-radius: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <img class="card-img-top" src="/assets/course_card.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title "><%= link_to index[2].name, index[2] %> </h3>
                  <p class="card-text"><%= index[2].description.truncate(100) %></p>
                </div>
              </div>
            <% end %>

          </div>
        </div>
        <p></p>
      <% end %>

    </div>
  </div>
</div>