<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <%= link_to 'Lms app', root_path, class:"sidebar-brand d-flex align-items-center justify-content-center fas fa-laugh-wink" %>

  <!-- Divider -->
  <hr class="sidebar-divider">



  <!-- Nav Item - Courses Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCourses"
       aria-expanded="true" aria-controls="collapseCourses">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Courses</span>
    </a>
    <div id="collapseCourses" class="collapse" aria-labelledby="headingCourses"
         data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Courses menu</h6>
        <%= link_to 'Courses', courses_path(page: 1), class:"collapse-item" %>
        <% if current_user.role == 'parent' %>
          <%= link_to 'My child courses', child_courses_path, class:"collapse-item" %>
        <%else %>
          <%= link_to 'My courses', my_courses_path, class:"collapse-item" %>
        <%end %>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Groups Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGroups"
       aria-expanded="true" aria-controls="collapseGroups">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Groups</span>
    </a>
    <div id="collapseGroups" class="collapse" aria-labelledby="headingGroups"
         data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Groups menu</h6>
        <%= link_to 'Groups', groups_path(page: 1), class:"collapse-item" %>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Shop Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShop"
       aria-expanded="true" aria-controls="collapseShop">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Shop</span>
    </a>
    <div id="collapseShop" class="collapse" aria-labelledby="headingShop"
         data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Shop menu</h6>
        <%= link_to 'Shop', "/shop?page=1", class:"collapse-item" %>

      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCalendar"
       aria-expanded="true" aria-controls="collapseCalendar">
      <i class="fas fa-fw fa-table"></i>
      <span>Calendar</span>
    </a>
    <div id="collapseCalendar" class="collapse" aria-labelledby="headingCalendar"
         data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Calendar menu</h6>
        <%= link_to 'Calendar', meetings_path, class:"collapse-item" %>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Resources Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseResources"
       aria-expanded="true" aria-controls="collapseResources">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Resources</span>
    </a>
    <div id="collapseResources" class="collapse" aria-labelledby="headingResources"
         data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Resources menu</h6>
        <%= link_to 'All resources', "/resources/show?page=1", class:"collapse-item" %>
        <% if current_user.role == 'parent' %>
          <%= link_to 'Add a new resource', new_resource_path, class:"collapse-item" %>
        <%end %>
      </div>
    </div>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>



</ul>